{% load static from staticfiles %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href={% static "assets/css/bootstrap/bootstrap.min.css" %}>
  <!-- Font Awesome -->
  <link rel="stylesheet" href={% static "assets/css/font-awesome/font-awesome.min.css" %}>
  <!-- Ionicons -->
  <link rel="stylesheet" href={% static "assets/css/ionicons/ionicons.min.css" %}>
  <!-- Theme style -->
  <link rel="stylesheet" href={% static "assets/css/AdminLTE.min.css" %}>
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href={% static "assets/css/skins/_all-skins.min.css" %}>
  <!-- Morris chart -->
  <link rel="stylesheet" href={% static "assets/css/morris/morris.css" %}>
  <!-- jvectormap -->
  <link rel="stylesheet" href={% static "assets/css/jvectormap/jquery-jvectormap.css" %}>
  <!-- Date Picker -->
  <link rel="stylesheet" href={% static "assets/css/bootstrap-datepicker/bootstrap-datepicker.min.css" %}>
  <!-- Daterange picker -->
  <link rel="stylesheet" href={% static "assets/css/bootstrap-daterangepicker/daterangepicker.css" %}>
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href={% static "plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" %}>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>



</head>