{% load static from staticfiles %}

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{% static "assets/img/user2-160x160.jpg" %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Dr. Adnan</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="{% if request.resolver_match.url_name == "home"%}active{% endif %}" >
          <a href="{% url 'home' %}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="{% if request.resolver_match.url_name == "english_news"%}active{% endif %}" >
          <a href="{% url 'english_news' %}">
            <i class="fa fa-dashboard"></i> <span>English News Classifier</span>
          </a>
        </li>
        <li class="{% if request.resolver_match.url_name == "about"%}active{% endif %}" >
          <a href="{% url 'about' %}">
            <i class="fa fa-globe"></i> <span>About Us</span>
          </a>
        </li>
        <li class="{% if request.resolver_match.url_name == "contact"%}active{% endif %}"  >
          <a href="{% url 'contact' %}">
            <i class="fa fa-globe"></i> <span>Contact</span>
          </a>
        </li>
        <li class="{% if request.resolver_match.url_name == "test"%}active{% endif %}" >
          <a href="{% url 'test' %}">
            <i class="fa fa-circle-o"></i> <span>Test</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>