{% extends "./public/base.html" %}
{% load static %}

{% block main_content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                English News
                <small>Classifier</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">English News Classifier</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-7 col-xs-6">
                    <div class="row">
{#                        <div class="col-md-push-2 col-md-4 col-xs-6">#}
{#                            <label>Model</label>#}
{#                        </div>#}
{#                        <div class="col-md-8  col-xs-6">#}
{#                            <div class="form-group">#}
{#                                <select id="model" class="form-control">#}
{#                                    <option value="NB">Naive Bayes</option>#}
{#                                    <option value="SVM">SVM</option>#}
{#                                    <option value="MLP">MLP</option>#}
{#                                    <option value="CNN">CNN</option>#}
{#                                    <option value="LSTM">LSTM</option>#}
{#                                    <option value="OM">Our Model</option>#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <div class="row">
                        <div class="col-md-push-2 col-md-4 col-xs-6">
                            <label>Data Set</label>
                        </div>
                        <div class="col-md-8  col-xs-6">
                            <div class="form-group">
                                <select id="dataSet" class="form-control">
                                    <option value="mcintire">Mcitire</option>
                                    <option value="liarliar">Liar Liar</option>
                                    <option value="combined">Combined</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-push-2 col-md-4 col-xs-6">
                            <label>News</label>
                        </div>
                        <div class="col-md-8  col-xs-6">
                            <textarea id="news" class="form-control" rows="25" placeholder="Enter ..."></textarea>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px">
                        <div class="col-md-push-2 col-md-4 col-xs-6">
                            <label></label>
                        </div>
                        <div class="col-md-8  col-xs-6">
                            <button id="btn_submit" type="button" class="btn btn-block btn-primary" onClick="submit_news()">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xs-6">
                    <div class="col-lg-12 col-xs-6">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Fake News Classifier</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <table class="table table-striped">
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Model</th>
                                        <th>Result</th>
                                        <th>Time(s)</th>
                                        <th>Accuracy</th>
                                        <th>Confidence</th>
                                    </tr>
                                    <tr>
                                        <td id="tb_id"></td>
                                        <td id="tb_model"></td>
                                        <td id="tb_result"></td>
                                        <td ><span id="tb_time" class="badge bg-red"></span></td>
                                        <td ><span id="tb_accuracy" class="badge bg-red"></span></td>
                                        <td ><span id="tb_confidence" class="badge bg-red"></span></td>
                                    </tr>

                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label id="resultLabel"></label>
                </div>
            </div>


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {% block script %}
        <script type="text/javascript">
            function submit_news() {
                $('#btn_submit').attr("disabled", true);
                {#var model = $('#model').val();#}
                var dataset = $('#dataSet').val();
                var news = $('#news').val();
                var param = {
                    {#'model': model,#}
                    'dataset': dataset,
                    'news': news
                };
                {#alert(param);#}
                $.ajax({
                    url: "{% url 'classifier' %}",
                    data: param,
                    type: 'GET',
                    success: function (data) {
                            $('#tb_id').empty();
                            $('#tb_model').empty();
                            $('#tb_result').empty();
                            $('#tb_time').empty();
                            $('#tb_accuracy').empty();
                            $('#tb_confidence').empty();

                            var i=1;

                            for( res in data) {
                                $('#tb_id').text(i);
                                $('#tb_model').text(res.model);
                                $('#tb_result').text(res.result);
                                $('#tb_time').text(res.time);
                                $('#tb_accuracy').text(res.accuracy);
                                $('#tb_confidence').text(res.confidence);
                            }
                            $('#btn_submit').attr("disabled", false);
                    }
                });
            }
        </script>

    {% endblock %}

{% endblock %}